@use 'variaveis';

.explore {
    text-align: center;

    h2 {
        font-size: 3rem;
    }

    p {
        font-family: sans-serif;
        font-size: 1.3rem;
        color: #d2dad2;
        font-weight: lighter;
        margin: 20px 0 7rem;
    }

    .explore-list {
        ul {
            list-style: none;
            padding: 0 6.3rem;
            display: flex;
            gap: 5rem;
            justify-content: center;
            align-items: stretch;

            li {
                background-color: variaveis.$cardColor;
                padding: 3rem;
                font-family: sans-serif;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                border-radius: 12px;
                border: 1px solid #1f6e11;
                box-shadow: 0 0 2px rgb(60, 255, 0);
                min-height: 300px;
                flex: 1;
                transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.3s ease;

                &:hover {
                    transform: translateY(-8px);
                    border-color: #387a36;
                    box-shadow: 0 0 10px rgb(0, 255, 0);
                }
            }

            .icon-container {
                background: linear-gradient(45deg, #39ff14, #a64dff);
                padding: 1rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 2rem;

                i {
                    color: variaveis.$black;
                    font-size: 3rem;
                }
            }

            h3 {
                margin: 0.5rem 0 0.25rem;
                color: variaveis.$thirdColor;
                margin-bottom: 1rem;
                font-size: 26px;
            }

            p {
                font-size: 1rem;
                margin: 0;
                font-weight: lighter;
                color: #9da59d;
            }
        }
    }

    // MOBILE
    @media (max-width: 768px) {
        h2 {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
            margin-bottom: 1rem;
        }

        .explore-list ul {
            flex-direction: column;
            padding: 3rem;
            gap: 2rem;
        }

        .explore-list ul li {
            padding: 2rem;
            min-height: auto;
        }

        .explore-list ul h3 {
            font-size: 1.5rem;
        }

        .explore-list ul .icon-container i {
            font-size: 2.5rem;
        }
    }

    // TABLET
    @media (min-width: 769px) and (max-width: 1024px) {
        h2 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 3rem;
        }

        .explore-list ul {
            padding: 4rem;
            gap: 3rem;
        }

        .explore-list ul li {
            padding: 2.5rem;
            min-height: 250px;
        }

        .explore-list ul h3 {
            font-size: 2rem;
        }

        .explore-list ul .icon-container i {
            font-size: 2.7rem;
        }
    }
}