@use 'variaveis';

header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;

    .navbar {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1200px;

        .nav-links {
            display: flex;
            list-style: none;
            gap: 30px;
            margin: 0 auto;
            padding: 0;

            li a {
                color: variaveis.$thirdColor;
                text-decoration: none;
                font-weight: bold;
                font-size: 20px;
                font-family: 'Roboto', sans-serif;
                transition: color 0.3s;

                &:hover {
                    color: variaveis.$green_neon;
                }
            }
        }

        .explore-btn {
            font-family: 'Roboto' ;
            padding: 10px 20px;
            font-weight: bold;
            background: linear-gradient(90deg, variaveis.$green_neon, variaveis.$ciano, variaveis.$purple);
            color: #000;
            text-decoration: none;
            border-radius: 5px;
            transition: background 0.3s ease;
            margin-left: auto;

            &:hover {
                background: linear-gradient(90deg, variaveis.$purple, variaveis.$ciano, variaveis.$green_neon);
            }
        }
    }
}